<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
  	<servlet-name>addUserServlet</servlet-name>
  	<servlet-class>web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addUserServlet</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>listUserServlet</servlet-name>
  	<servlet-class>web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listUserServlet</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>delUserServlet</servlet-name>
  	<servlet-class>web.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delUserServlet</servlet-name>
  	<url-pattern>/del</url-pattern>
  </servlet-mapping>
</web-app>